<div style="background-color:rgb(248, 248, 248) !important;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
      <a class="navbar-brand" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4XjjA2cybwa-w1MyNgqvivg1pQKmfJwxrZQ&usqp=CAU" width="120" height="50" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <ul class="navbar-nav ml-auto cld">
          <li class="nav-item" style="margin-top: 0.5vh;">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item" style="margin-top: 0.5vh;">
            <a class="nav-link" routerLink="/service">Services</a>
          </li>
          <li class="nav-item" style="margin-top: 0.5vh;">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <button class="btn btn-outline-primary" style="border-radius: 25px;">Get Started</button>
            </a>
          </li>
        </ul>
  
        <!-- <ul class="navbar-nav m-auto">
            <a class="nav-link" routerLink="/login"><button class="btn btn-outline-primary" style="border-radius: 25px;">Get Started</button></a>
        
        </ul> -->
  
      </div>
    </nav>
  </div>