<div style="width: 100%; background-color: rgb(123, 113, 113) ">
    <div class="container" style="padding: 4vh 0px 1px 1vh;color: white;">

        <div class="row">
            <div style="text-align: left;font-size: small;" class="col"> 
                <p>Copyright ©️ 2022 | Privacy policy</p>
            </div>
            <div style="text-align: right;margin-bottom: 2vh;" class="col">
                <i style="font-size:24px" class="fa">&#xf09a;</i>
                <i style="font-size:24px" class="fa">&#xf16a;</i>
                <i style="font-size:24px" class="fa">&#xf0e1;</i>
                <i style="font-size:24px" class="fa">&#xf099;</i>
            </div>
        </div>
        
        
    </div>
</div>
