<body style="font-family: nunito!important;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://thumbs.dreamstime.com/b/banner-software-development-programming-web-site-app-laptop-code-ui-ux-interface-concept-coding-testing-usability-design-220115862.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://dcassetcdn.com/design_img/2896805/629337/629337_15963855_2896805_e22c6ee4_image.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf_ovQNmcxJmxVu0RJE1UHs564xeyNhrVLxg&usqp=CAU" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
    <div class="container" style="margin-top: 8vh;">
      <h1 style="text-align: center;font-weight: 500;font-size: 28px;">What are we</h1>
      <div class="row">
        <div class="col" style="margin-top: 12vh;">
          <p style="font-size: 22px;line-height: 29px;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          </p>
          <button class="btn btn-primary" routerLink="/about" style="border-radius: 25px;margin-top: 1.5vh;">Learn More</button>
        </div>
        <div class="col">
          <img src="https://img.freepik.com/free-vector/isometric-cms-concept_23-2148807389.jpg?w=2000" width="500" />
        </div>
      </div>
    </div>
  
    <div class="container" style="margin-top: 12vh;">
      <h1 style="text-align: center;font-weight: 500;font-size: 28px;">Our Partners</h1>
      <div class="row"  style="margin-top: 8vh;">
        <div class="col">
          <img src="https://www.designevo.com/res/templates/thumb_small/green-and-blue-circle.webp"  width="180" height="180" />
        </div>
        <div class="col">
          <img src="https://www.designevo.com/res/templates/thumb_small/black-wheat-and-mortarboard.webp"  width="180" height="180" />
        </div>
        <div class="col">
        <img src="https://q8i4i8g7.rocketcdn.me/wp-content/uploads/2020/10/99gen_arc.png"  width="180" height="180" />
        </div>
        <div class="col">
          <img src="https://www.designevo.com/res/templates/thumb_small/abstract-green-circle-and-person.webp"  width="180" height="180" />
        </div>
      </div>
      <div class="row" style="margin-top: 4vh;margin-left: 1vh;">
        <div class="col-1"></div>
        <div class="col">  
          <img src="https://png.pngtree.com/template/20190524/ourmid/pngtree-nipplebabydummypacifierkids-purple-business-logo-templat-image_203963.jpg"  width="180" height="180" />
        </div>
          <div class="col">
            <img src="https://www.shutterstock.com/image-illustration/abstract-cube-logo-design-template-260nw-365894648.jpg"  width="180" height="180" />
          </div>
          <div class="col-4">
            <img src="https://www.designevo.com/res/templates/thumb_small/abstract-sun-and-airline.webp"  width="180" height="180" />
          </div>
      </div>
    </div>
  
    <div class="container" style="margin-top: 15vh;margin-bottom: 5vh;">
      <h1 style="text-align: center;font-weight: 500;font-size: 28px;">Our Services</h1>
      <div class="row" style="margin: 6vh 0px 2vh 3.5vh;">
        <div class="col">
          <img src="https://fa42cf2086b5b4ffa910-42905546d373f150b1b6e131d3710cf2.ssl.cf3.rackcdn.com/market-analysis.jpg" width="230" height="220" />
          <p style="padding-left: 3.5vh;">Marketing Analysis</p>
        </div>
        <div class="col">
          <img src="https://iskylar.com/wp-content/uploads/2021/02/Full-Stack-Development-Company.jpg" width="230" height="220" />
          <p style="padding-left: 8vh;">Full Stack</p>
        </div>
        <div class="col">
          <img src="https://img.freepik.com/free-vector/digital-marketing-landing-page_33099-1726.jpg?w=2000" width="230" height="220" />
          <p style="padding-left: 4.5vh;">Digital Marketing</p>
        </div>
        <div class="col">
          <img src="https://benheine.com/wp-content/uploads/2021/07/Image-1-branding-tips-and-ideas-to-ensure-your-website-is-good-looking-interesting-and-profitable.jpeg" width="230" height="220" />
          <p style="padding-left: 8.5vh;">Branding</p>
        </div>
      </div>
      <div style="text-align: center;"><button class="btn btn-primary" routerLink="/service" style="border-radius: 25px;">Know More</button></div>
    </div>
  
    <div class="container" style="margin-top: 12vh;">
      <h1 style="text-align: center;font-weight: 500;font-size: 28px;">Projects</h1>
      <div class="row" style="margin: 6vh 0px 3vh 3.5vh;">
        <div class="col-2">
          <button class="btn btn-primary" (click)="reltext1()" style="margin-bottom: 2vh;width: 22vh;">Anion Marketing</button>
          <button class="btn btn-primary" (click)="reltext2()" style="margin-bottom: 2vh;width: 22vh;">Golf Game</button>
          <button class="btn btn-primary" (click)="reltext3()" style="margin-bottom: 2vh;width: 22vh;">Quiz Application</button>
          <button class="btn btn-primary" (click)="reltext4()" style="margin-bottom: 2vh;width: 22vh;">KMV Roads</button>
        </div>
        <div class="col" style="margin-left: 10vh;">
          <div *ngIf="hh1">
            <p>At Anion each contributor has at least 20 years of experience in the semiconductor industry. Over the years, our contributions have spanned engineering, product marketing, creative services, sales, supplier management and business development.</p>
            <p>Anion helps high technology companies develop and market products through flawless execution of planning and launch activities while facilitating rapid time-to-market</p>
            <a href="https://anionmarketing.com/" target="_blank"><button type="button" class="btn btn-outline-primary" style="margin-top: 2vh;">Anion Marketing</button></a>
          </div>
          
          <div *ngIf="hh2">
            <p>One of the most popular games was the weekly PGA TOUR fantasy games under the brand Golfradar, designed to engage with incentives such as merchandise and travel offers. Golfradar conducted co-branded competitions for Golfweek Magazine, GolfLogix, Travis Mathews and Golf Punk Magazine. With its live challenge leaderboard to bring users back to the site on a regular basis the challenges gained broad support, acquiring over 50,000 users in the first month. Play & Win also conducted weekly challenges for the LPGA for two seasons.</p>
            <p><b>Golfradar</b> was way ahead of other fantasy games with its advanced user experience when it launched in 2012, with a built-in messenger for smack talk with other competitors. It also introduced “Badges” for users that they can achieve by participation and results. </p>
            <p>The latest version of the software allowed any business or golf courses to create their own private branded leagues and offer prizes of their own using the challenges. </p>
            <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" style="margin-top: 2vh;">Golfradar</button></a>
          </div>
          
          <div *ngIf="hh3">
            <p>The project: “Quiz Application” is a collection of number of different types of quizzes like technical, games, sports, etc. A user can access/play all of the quiz and can attempt any of the one. There will be limited number of questions and for each correct answer user will get a credit score. User can see answers as well as can ask a query related to it. There are many quiz applications  available  currently  on  internet.  But  there  are  few  Which  provide  better understanding  between  users  and  the  application  like,  providing  proper  answers,  user  query solving, uploading user questions as well as answer to it, etc.</p>
            <p>To  develop  a  user  friendly  quiz  application  which  will  contain  :  Numbers  of  quiz  , Answers to  every question,  Query solving  regarding any question,  Uploading  of  user  question and answer, and to improve the knowledge level of users. To develop an application which will contain  solution  to  the  above  problems.  By  this  application  the  user  will  come  to  know  about his/her  level  and  can  learn  additional  knowledge.  Also  by  this  application  a  user  can  expand his/her knowledge among the world. </p>
            <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" style="margin-top: 2vh;">Quiz Application</button></a>
          </div>
          
          <div *ngIf="hh4">
            <p>At KMV, we strive to build the infrastructure of tomorrow through diligent evaluation and prioritization of safe, economical and energy efficient practices. We have successfully delivered world-class projects to our clients, such as NTPC, BHEL, State Bank of India, GMR Group, ICFAI, JNTU, Delhi Metro, Airports Authority of India, Apollo Hospitals, LIC, HSCC (I) Ltd, HLL Life Care Ltd, Bhabha Atomic Research Centre, Nuclear Fuel Complex and scores of State / Central Government Departmental Agencies, and their trust and partnership with us stands as testimony to our engineering supremacy.</p>
            <p>We executed landmark projects across the 16 states in India we currently operate in. Through a diligent amalgamation of traditional constructional practices and the most modern building technologies, KMV is currently one among the top companies in the country with end-to-end solutions in engineering and construction management.</p>
            <a href="" target="_blank"><button type="button" class="btn btn-outline-primary" style="margin-top: 2vh;">KMV Roads</button></a>
          </div>
          
        </div>
      </div>
    </div>
  
  
  <app-footer></app-footer>
  </body>